// 技能介绍开始
.y_container {
  .cd-timeline-block {
    .cd-timeline-content {
      @media (max-width:1170px) {
        margin-left: 40px;
      }
    }
  }
}

// 技能介绍结束

// 最近项目开始
.y_Xiangm {
  .cd-timeline-block {
    // pointer-event: none;
    margin: -2em 0 !important;

    .projects {
      perspective: 500px;
      overflow: visible;



      .project-content {
        text-align: center;
        top: 50%;
        // transition: all 1s;
        background-color: rgba(151, 122, 122, 0.473);
        transform-origin: top center;
        opacity: 0;

        h2,
        span {
          color: aliceblue;
        }
      }

      @media (min-width:768px) {


        &:hover .project-content {
          animation: myxianm 1.5s;
          opacity: 1;

        }
      }

      @media (max-width:768px) {

        .project-content {
          top: 0;
          opacity: 1;


        }
      }

    }
  }
}

@keyframes myxianm {
  0% {
    transform: rotateX(25deg);
  }

  20% {
    transform: rotateX(-20deg);

  }

  40% {
    transform: rotateX(15deg);

  }

  60% {
    transform: rotateX(-10deg);

  }

  80% {
    transform: rotateX(5deg);

  }

  100% {
    transform: rotateX(0deg);

  }
}

// 最近项目开始

// 作品与案例开始
.y_Zuopanli {
  height: 800px !important;

  .y_row_nr img {
    width: 100%;
  }

  .row {

    &>div {

      a {
        position: relative;
        border: 0;
        overflow: hidden;


        // padding: 0;


        span {
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          transition: all .5s;
          transform-origin: top right;
          transform: rotate(-90deg);
          // background-color: rgba(22, 4, 4, 0.466);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          letter-spacing: 1px;
          opacity: 0;
          visibility: hidden;

          img {
            // height: 13vw;
            width: 100%;
          }
        }

        &:hover span {
          @media(min-width:768px) {
            width: 100%;
            height: 100%;
            background-color: rgba(22, 4, 4, 0.466);
            transform: rotate(0deg);
            color: aliceblue;

            opacity: 1;
            visibility: initial;
          }
        }
      }


    }
  }
}

// 作品与案例结束