/* 导航栏开始 */

.navbar-toggle {
    padding: 0;
    border: 0;
    background: none !important;
}

.navbar-toggle span {
    font-size: 30px;
    padding: 0;
}


/* 导航栏结束 */


/* 个人信息开始 */

.y_biaoti {
    margin-top: 50px;
}

.y_biaoti h1 {
    color: aliceblue;
    text-align: center;
}


/* 个人信息结束 */


/* 技能介绍开始 */

.triangle {
    margin: 0 auto;
}


/* 技能介绍结束 */