/* 导航栏开始 */

.navbar-toggle {
    padding: 0;
    border: 0;
    background: none !important;
}

.navbar-toggle span {
    font-size: 30px;
    padding: 0;
}


/* 导航栏结束 */


/* 个人信息开始 */

.y_biaoti {
    margin-top: 50px;
}

.y_biaoti h1 {
    color: aliceblue;
    text-align: center;
}

.y_biaoti_nr {
    margin: auto auto;
    border-radius: 30px;
    padding: 30px 20px;
    background-color: rgba(255, 255, 255, .3);
    transition: all .5s;
}

.y_biaoti_nr .y_biaoti_row .thumbnail {
    background: none;
    padding: 0;
    border: 0;
}

.y_biaoti_nr .y_biaoti_row .thumbnail img {
    border-radius: 10px 0 10px 0;
    width: 35%;
}

.y_biaoti_row>div {
    color: aliceblue;
}

.y_biaoti_nr .y_biaoti_row>div:first-child {
    /* border-right: 1px aliceblue solid; */
    text-align: center;
}

.y_biaoti_row>div:first-child ul {
    width: 200px;
    margin: 0 auto;
    text-align: left;
    list-style: none;
    padding: 0;
    line-height: 30px;
    margin-top: 50px;
}

.y_biaoti_row>div:first-child ul li {
    white-space: nowrap;
}

.y_biaoti_row>div:first-child ul strong {
    margin: 0 10px;
}

.y_biaoti_row>div:first-child ul i {
    font-style: normal;
    letter-spacing: 1px;
}

.y_biaoti_row>div:first-child h1 {
    margin: 0;
    margin-top: 20px;
}

.y_biaoti_row>div:first-child h3 {
    margin: 10px 0 30px 0;
}

.carousel-indicators {
    bottom: -50px;
}

.carousel-control {
    background: none !important;
}

.carousel-inner .item {
    padding: 0 20px;
}

.y_body {
    color: #000;
}


/* 个人信息结束 */


/* 技能介绍开始 */

.triangle {
    margin: 0 auto;
}


/* 技能介绍结束 */