        @media (min-width: 1200px) {}
        /* 笔记本 */
        
        @media (min-width: 991px) and (max-width: 1200px) {}
        /* 平板 */
        
        @media (min-width: 769px) and (max-width: 990px) {}
        
        @media (max-width: 990px) {}
        /* 手机 */
        
        @media (max-width: 768px) {
            .y_biaoti_nr .y_biaoti_row>div:first-child {
                border-right: 0;
            }
            .y_biaoti_row>div:first-child ul {
                width: 35%;
                margin: 0 auto;
                margin-top: 30px;
            }
            .y_biaoti_row>div:first-child h1 {
                font-size: 30px;
            }
            .y_biaoti_row>div:first-child h3 {
                font-size: 16px;
            }
            .y_biaoti_nr .y_biaoti_row .thumbnail img {
                width: 20%;
            }
        }
        
        @media (max-width: 440px) {
            .y_biaoti_row>div:first-child ul {
                width: 70%;
                margin: 0 auto;
                margin-top: 30px;
            }
            .y_biaoti_nr .y_biaoti_row .thumbnail img {
                width: 30%;
            }
        }
        
        @media (max-width: 360px) {
            .y_biaoti_row>div:first-child ul {
                width: 90%;
                margin: 0 auto;
                margin-top: 30px;
            }
        }