/*公共样式*/
		*{
			margin: 0;
			padding: 0;
		}
		body{
			background-color: #eaeaea;
		}
		a{
			text-decoration-line: none;
		}
		a:hover{
			text-decoration-line: none;
		}
		ul{
			list-style-type: none;
		}
/*声明字体开始*/
		@font-face{ 
		font-family: 'icomoon';
		src: url('../fonts/icomoon.eot?7kkyc2');
		src: url('../fonts/icomoon.eot?7kkyc2#iedix') format('embedded-opentype'),
		 url('../fonts/icomoon.ttf?7kkyc2') format('truetupe'),
		 url('../fonts/icomoon.woff?7kkyc2') format('woff'),
		 url('../fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
		font-weight: normal;
		font-style: normal;
	}
/*声明字体结束*/
/*侧边导航按钮开始*/
		.cbl{
			width: 0;
			height: 100%;
			border-right: 6px solid #7a6e6e;
			position: fixed;
			right: 0;
			top: 0;
			z-index: 100;
		}
		.cbl-a{
			height: 240px;
			margin-top: -120px;
			position: absolute;
			top: 50%;
			right: 0;
		}
		 .a1{
			width: 35px;
			height: 35px;
			text-align: center;
			padding-right: 10px ;
			line-height: 35px;
			border-radius: 3px 0 0 3px;
			background-color: #7a6e6e;
			position: absolute;
			right: -6px;
		}
		.a1 a{
			display: block;
			font-family: 'icomoon';
			font-size: 18px;
			color: #fff;
		}

		.cbl .a1:nth-child(1){top: 0;  }
		.cbl .a1:nth-child(2){top: 15%;}
		.cbl .a1:nth-child(3){top: 30%;}
		.cbl .a1:nth-child(4){top: 45%;}
		.cbl .a1:nth-child(5){top: 60%;}
		.cbl .a1:nth-child(6){top: 75%;}
		.cbl .a1:nth-child(7){top: 90%;}
		
		.b1{
			width: 0;
			height: 35px;
			color: #fff;
			font-size: 10px;
			text-align: center;
			line-height: 35px;
			border-radius: 3px 0 0 3px;
			background-color: #7a6e6e;
			transition: width 0.3s ease 0.2s;/*过渡效果*/
			position: absolute;
			top: 0;
			right: 43px;
			cursor: pointer;
			overflow: hidden;
			white-space: nowrap;
		}
		.a1:hover{
			background-color: #c81623;
			border-radius: 0;
		}
		.a1:hover .b1{
			background-color: #c81623;
			width: 60px;
			height: 35px;
		}
/*侧边导航按钮结束*/
/*头部广告开始*/
	    nav{
	    	width: 100%;
	    	height: 80px;
	    	text-align: center;
	    	background-color: #020100;
	    		    
	    }
	    nav a{
	    	width: 100%;
	    	margin: 0 auto;
	    }
/*头部广告结束*/
/*导航条开始*/
		.dh{
			width: 100%;
			height: 30px;
		}
		.dh-a{
			width: 1400px;
			height: 30px;
			margin: 0 auto;
			overflow: hidden;
			position: relative;
		}
		.dh-a a{
			font-size: 13px;
			font-family: 'icomoon';
			color: #675c5c;
		}
		.dw{
			position: absolute;
			top: 0;
			left: 22%;
		}
		.dh-a ul{
			position: absolute;
			top: 0;
			right: 10%;
		}
		.dw span:nth-child(1){
			font-family: 'icomoon';
			line-height: 30px;
			color: red;
		}
		.dh-a ul li{
			font: 13px '微软雅黑';
			line-height: 30px;
			float: left;
			position: relative;
			
		}
		.dh-a ul li a{
			padding: 0 10px;
			transition: all 0.5s;
			border-right: 1px #c5b8b8 solid;
		}
		.dh-a ul li:nth-child(1) a:nth-child(1){
			border: 0;
			padding: 0;
		}
		.dh-a ul li:last-child a{
			border: 0;
		}
		.dh-a ul li:nth-child(1) a:nth-child(2){
			color: #ff0000;
		}
		.dh-a a:hover{
			color: #ff0000;
		}
/*导航条结束*/

/*logo部分开始*/
		.logo{
			position: absolute;
			top: -30px;
			left: 0;
			width: 193px;
			height: 170px;
			border-bottom: 1px #f5e3e3 solid;
			background-color: #fff;
			box-shadow: 0 -12px 10px rgba(0,0,0,.2)
		}
		.logo img{
			width: 100%;
			height: 100%;
		}
/*logo部分结束*/
/*搜索栏开始*/
		.sfgm{
			width: 100%;
			height: 140px;
			background-color: #f6f6f6;
			
		}
		.sfgm-a{
			width: 1144px;
			margin: 0 auto;
			position: relative;

		}
		.shang{
			height: 90px;
			padding-top: 15px;
			position: relative;
			box-sizing: border-box;
		}
		.ss{
			width: 550px;
			height: 40px;
		}
		.ss input[type=text]{
			width: 500px;
			height: 40px;
			font-size: 17px;
			border: 1px red solid;
			float: left;
			padding-left: 5px;
			box-sizing: border-box;
			background-color: #fff;
			outline: none;
		}
		.ss input[type=submit]{
			width: 50px;
			height: 40px;
			float: left;
			font-family: 'icomoon';
			font-size: 16px;
			color: #fff;
			background-color: #ff0000;
			border: 0;
			outline: none;
			cursor: pointer;
		}
/*搜索栏结束*/
/*搜索栏下方小菜单开始*/
		.shang-a{
			width: 550px;
			height: 60px;
			margin: 0 auto;
		}
		.ssx{
			width: 650px;
			height: 20px;
			margin: 5px 0 0 0;
			overflow: hidden;
		}
		.ssx ul li{
			
			color: #675c5c;
			float: left;
			padding-left: 5px;
		}
		.ssx ul li a{
			font-size: 8px;
			color: #ba9797;	
		}
		.ssx a:hover{
				color: #ff0000;
			}
/*搜索栏下方小菜单结束*/
/*购物车开始*/
		.gwc{
			font-family: 'icomoon';
			color: #ff0000;
			font-size: 20px;
			width: 180px;
			height: 35px;
			background-color: #fff;
			border: 1px #ccc solid;
			text-align: center;
			position: absolute;
			top: 15px;
			right: 80px;
			overflow: hidden;
		}
		.gwc a{
			font-size: 13px;
			color: #ff0000;		
			line-height: 38px;	
			padding-left: 5px;
		}
		.gwc div{
			width: 20px;
			height: 20px;
			font-size: 16px;
			color: #fff;
			padding-bottom: 12px;
			box-sizing: border-box;
			background-color: #ff0000;
			border-radius: 50%;
			position: absolute;
			top: 3px;
			right: 20px;
		}
/*购物车结束*/
/*搜索栏下方大菜单开始*/
		.xia{
			position: relative;
		}
		.xia-a{
			width: 680px;
			height: 30px;
			margin: 10px auto;
			overflow: hidden;
		}
		.xia-a li{
			float: left;
			padding-right: 30px;
		}
		.xia-a li a{
			font-size: 16px;
			font-weight: bold;
			color: #5a5a5a;
			transition: all  0.5s ease 0s;
		}
		.xia li a:hover{
			color: #ff0000;	
		}
		.cjpl{
			position: absolute;
			top: -30px;
			right: 20px;
		}
/*搜索栏下方大菜单结束*/
/*中间内容部分开始*/
		.nr-da{
			width: 100%;
			height: 480px;
			background-color: #f6f6f6;
		}
		.nr-da-a{
			width: 1144px;
			height: 485px;
			margin: 0 auto;
			display: flex;
		}
		.nr-zuo,.nr-lbt,.nr-you{
			height: 485px;
			float: left;
		}
		/*左内容开始*/
		.nr-zuo{
			flex: 1.03;
			background-color: #fff;
			overflow: hidden;
		}
		.nr-zuo ul li:nth-child(1){
			margin-top: 5px;
		}
		.nr-zuo ul li{
			font-size: 10px;
			color: #626262;
			padding: 3.5px  10px;
		}
		.nr-zuo ul li:hover{
			background-color: #d9d9d9;
		}
		.nr-zuo ul li a{
			font-size: 14px;
			color: #626262;
		}
		.nr-zuo ul li a:hover{
			color: #f40;
		}
		/*左内容结束*/

		/*轮播图部分开始*/
		.nr-lbt{
			flex: 3;
			overflow: hidden;
			padding: 5px;
			box-sizing: border-box;
		}
		/*轮播图部分结束*/

		/*右内容开始*/
		/*内容缩放隐藏开始*/
		.nr-you .y div:nth-child(1) 
		span:nth-child(2),
		.nr-you .y div:nth-child(1) 
		span:nth-child(3),
		.nr-you .y div:nth-child(2) span,
		.nr-you .y div:nth-child(3) span{
			overflow: hidden;
		}
		/*内容缩放隐藏结束*/
		.nr-you{
			flex: 2;
			display: flex;
			padding: 5px 0 5px 5px;
			box-sizing: border-box;
		}
		.nr-you .z,.nr-you .y{
			flex: 1;
			float: left;
			
		}	
		/*商品折扣内容开始*/
		.nr-you .z{
			display: flex;
			flex-direction: column;
			margin-right: 5px;
		}
		.nr-you .z div{
			flex: 1;
			padding-bottom: 5px;
			box-sizing: border-box;
		}
		.nr-you .z div:nth-child(3){
			padding: 0;
		}
		.nr-you .z div img{
			width: 100%;
			height: 100%;
		}
		/*商品折扣内容结束*/
		/*登录注册部分开始*/
		.nr-you .y{
			background-color: #fff;
		}
		.nr-you .y{
			display: flex;
			flex-direction: column;
		}
		.nr-you .y div{
			flex: 1;
			display: flex;
			flex-direction: column;
			padding: 3px;
			box-sizing: border-box;
		}
		.nr-you .y div:nth-child(1) span{
			flex: 1;

		}
		.nr-you .y div:nth-child(1) 
		span:nth-child(1) {
			position: relative;
		}
		.nr-you .y div:nth-child(1) 
		span:nth-child(1) img{
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
		.nr-you .y div:nth-child(1) 
		span:nth-child(1) a{
			display: block;
			width: 60px;
			height: 60px;
			border: 1px pink solid; 
			border-radius: 50%;
			box-shadow: 6px 8px 20px rgba(45,45,45,.15);
			position: absolute;
			top: -20px;
			left: 30%;
		}
		.nr-you .y div:nth-child(1) 
		span:nth-child(2) p{
			font-size: 11px;
			color: #888;
			margin-top: 5px;
			text-align: center;
			overflow: hidden;
		}
		.nr-you .y div:nth-child(1) 
		span:nth-child(2) a:hover{
			color: #f40;
		}
		.nr-you .y div:nth-child(1) 
		span:nth-child(3) a:nth-child(1),
		.nr-you .y div:nth-child(1) 
		span:nth-child(3) a:nth-child(2){
			width: 60px;
			height: 25px;
			display: block;
			line-height: 25px;
			text-align: center;
			margin: 12px 18px;
			float: left;
			font-size: 12px;
			border-radius: 20px;
			color: #e5d790;
			background-color: #fff;
			transition: all  0.5s ease 0s; /*过渡效果*/
			box-shadow: 6px 8px 20px rgba(45,45,45,.15);
		}
		.nr-you .y div:nth-child(1) 
		span:nth-child(3) a:nth-child(2){
			margin: 12px auto;
			background-color: #363634;
		}
		.nr-you .y div:nth-child(1) 
		span:nth-child(3) a:hover{	
			color: #fff;
			background-color: #f40;
		}
		/*登录注册部分结束*/
		/*京东快报开始*/
		.nr-you .y div:nth-child(2) span{
			flex: 1;
			border-bottom: 1px #ded2d2 dotted;
		}
		.nr-you .y div:nth-child(2) 
		span:nth-child(1){
			border-top: 1px #ded2d2 solid;
		}
		.nr-you .y div:nth-child(2) 
		span:nth-child(5){
			border-bottom: 1px #ded2d2 solid;
		}
		.nr-you .y div:nth-child(2) 
		span a{
		 	font-size: 13px;
		 }
		.nr-you .y div:nth-child(2)
		 span:nth-child(1) b{
			float: left;
			font-size: 14px;
			color: #000;
			font-weight: bold;
		}
		.nr-you .y div:nth-child(2)
		 span:nth-child(1) a{
			float: right;
			color: #968d8d;
		}
		.nr-you .y div:nth-child(2) span:nth-child(2) a:nth-child(1),
		.nr-you .y div:nth-child(2) span:nth-child(3) a:nth-child(1),
		.nr-you .y div:nth-child(2) span:nth-child(4) a:nth-child(1),
		.nr-you .y div:nth-child(2) span:nth-child(5) a:nth-child(1){
		 	width: 35px;
		 	height: 17px;
		 	float: left;
		 	text-align: center;
		 	margin: 5px;
		 	font-size: 10px;
			display: block;
			border-radius: 20px;
			color: #fff;
			background-color: #e47f7f;
		}
		.nr-you .y div:nth-child(2) span:nth-child(2) a:nth-child(2),
		.nr-you .y div:nth-child(2) span:nth-child(3) a:nth-child(2),
		.nr-you .y div:nth-child(2) span:nth-child(4) a:nth-child(2),
		.nr-you .y div:nth-child(2) span:nth-child(5) a:nth-child(2){
		 	display: block;
			float: left;
			margin: 5px 5px 5px 2px;
			max-width: 120px; 
			font-size: 10px;
			color: #666;
			overflow: hidden;
			text-overflow :ellipsis;
			white-space: nowrap;
		}
		.nr-you .y div:nth-child(2) span a:nth-child(2):hover{
			color: #f40;
		}
		/*京东快报结束*/
		/*更多服务部分开始*/
		.nr-you .y div:nth-child(3) span{
			flex: 1;
		}
		.nr-you .y div:nth-child(3) span li{
			float: left;
			width: 40px;
			height: 40px;
			margin: 5px 2px 0 2px;
		}
		.nr-you .y div:nth-child(3) span p{
			color: #666;
			text-align: center;
			transition: all  0.5s ease 0s; /*过渡效果*/
		}
		.nr-you .y div:nth-child(3) 
		 span ul li a:hover p{
			color: #f40;
		}
		.nr-you .y div:nth-child(3) 
		span a p:nth-child(1) {
			font-family: 'icomoon';
			font-size: 20px;
			padding: 3px 0;
			
		}
		.nr-you .y div:nth-child(3) 
		span a p:nth-child(2) {
			font-size: 10px;
		}
		/*更多服务部分结束*/
		/*右内容结束*/
/*中间内容部分结束*/
/*页尾内容开始*/
	.wei{
		width: 100%;
		height: 400px
		border: 1px red solid;
	}
	.wei-a{
		width: 1144px;
		height: 400px;
		margin: 0 auto;
		border: 1px red solid;
		box-sizing: border-box;
	}
	/*多快好省部分开始*/
	.wei-a1{
		width: 100%;
		height: 80px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		border-bottom: 1px #d6e2e2 solid;
	}
	.wei-a1 ul{
		width: 955px;
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.wei-a1 li{
		width: 160px;
		height: 42px;
		float: left;
		overflow: hidden;
	}
	.wei-a1  ul li span{
		width: 36px;
		height: 42px;
		float: left;
		background-image: url(../image/ico.png);
	}
	.wei-a1 ul li:nth-child(1) span{background-position: 0 0;}
	.wei-a1 ul li:nth-child(2) span{background-position: 0 -42px;}
	.wei-a1 ul li:nth-child(3) span{background-position: 0 -86px;}
	.wei-a1 ul li:nth-child(4) span{background-position: 0 -129px;}
	.wei-a1 ul li h5{
		float: left;
		display: block;
		padding-left: 3px;
		line-height: 42px;
	}
	/*多快好省部分开始*/
	/*购物服务部分开始*/
	.wei-a2{
		width: 1144px;
		height: 170px;
		margin: 0 auto;
		overflow: hidden;
		border-bottom: 1px #d6e2e2 solid;
	}
	.wei-a2 div:nth-child(1){
		width: 770px;
		height: 160px;
		float: left;
		padding-top: 5px;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
	}
	.wei-a2 div:nth-child(1) ul{
		width: 80px;
		float: left;
		
	}
	.wei-a2 div:nth-child(1) ul li{
		line-height: 22px;
		text-align: center;
	}
	.wei-a2 div:nth-child(1) ul li a{
		font-size: 10px;	
		color: #666;
	}
	.wei-a2 div:nth-child(1) 
	ul li a:hover{
		color: #f40;
	}
	.wei-a2 div:nth-child(2) {
		width: 207px;
		height: 149px;
		background-image: url(../image/ico_footer.png);
		background-position: 0 0;
		float: right;
		overflow: hidden;
	}
	.wei-a2 div:nth-child(2) h4{
		text-align: center;
		margin: 5px 0;
		color: #666;
	}
	.wei-a2 div:nth-child(2) span{
		font-size: 13px;
		text-align: center;
		color: #666;
	}
	.wei-a2 div:nth-child(2) p a{
		font-size: 13px;
		float: right;
		margin-right: 5px;
		color: #666;
	}
	.wei-a2 div:nth-child(2) 
	p a:hover{
		color: #f40;
	}
	/*购物服务部分结束*/
	/*版权部分开始*/
	.wei-a3{
		width: 1100px;
		height: 150px;
		margin: 0 auto;
		overflow: hidden;
	}
	.wei-a3 p:nth-child(1){
		width: 1100px;
		height: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.wei-a3 p:nth-child(1) a{
		display: block;
		width: 90px;
		height: 15px;
		color: #666;
		font-size: 10px;
		text-align: center;
		float: left;
		border-right: 1px #666 solid;
	}
	.wei-a3 p:nth-child(1) a:last-child{
		border: 0;
	}
	.wei-a3 p:nth-child(1) 
	a:hover{
		color: #f40;
	}
	.wei-a3 p{
		font-size: 10px;
		color: #666;
		text-align: center;
		margin-top: 5px;
	}
	.wei-a3 p span{
		margin: 0 10px;
	}
	.wei-a3 div{
		width: 700px;
		height: 30px;
		margin: 20px auto 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.wei-a3 div a{
		width: 100px;
		height: 28px;
		background-color: #fff;
		background-image: url(../image/ico_footer.png);
	}
	.wei-a3 div a:nth-child(1){background-position: -2px -152px;}
	.wei-a3 div a:nth-child(2){background-position: -2px -185px;}
	.wei-a3 div a:nth-child(3){background-position: -2px -218px;}
	.wei-a3 div a:nth-child(4){background-position: -106px -152px;}
	.wei-a3 div a:nth-child(5){background-position: -106px -185px;}
	.wei-a3 div a:nth-child(6){background-position: -106px -218px;}
	/*版权部分结束*/
/*页尾内容结束*/