*{
    margin: 0;
    padding: 0;
}
/*清浮动*/
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
/* banner */
.banner{ width: 100%; height: 100%; position: relative; overflow: hidden; }
.banner-btn{display:none;}
.banner-btn a{display:block;line-height:40px;position:absolute;top:50%;width:40px;height:40px;background-color:#000;opacity:0.3;filter:alpha(opacity=30) color:rgb(255, 255, 255);overflow:hidden;z-index:4;}
.prevBtn{left:0px;border-radius: 0 10px 10px 0;}
.nextBtn{right:0px;border-radius: 10px 0 0 10px;}

.banner-img{ height:100%; font-size:0;word-spacing:-1px;/* IE6、7 */ letter-spacing:-3px;position:relative;}
.banner-img li{width: 562px; height: 100%; display:inline-block;/* IE6、7 */ vertical-align:top;letter-spacing:normal;word-spacing:normal;font-size:12px;}
.banner-img li a img{ width: 100%; height: 100%; }
.banner i{background:url(../image/t1sznbfzlmxxx8qsdi-400-340.png)  no-repeat;width:15px;height:23px;cursor:pointer;margin:8px 0 0 12px;display:block;}
.banner .nextBtn i{background-position:-200px -24px;}
.banner .prevBtn i{background-position:-200px 0px;}
.banner-circle{position:absolute;left:50%;bottom:15px;height:20px;text-align:center;font-size:0;border-radius:10px;background:rgba(255,255,255,0.3);filter:alpha(opacity:30);}
.banner-circle li{border-radius:10px;margin:4px;display:inline-block;display:-moz-inline-stack;vertical-align:middle;zoom:1;}
.banner-circle li a{display:block;padding-top:11px;width:11px;height:0;border-radius:50%;background:#B7B7B7;overflow:hidden;cursor: pointer;}
.banner-circle .selected a{background:#F40;}