    * {
        box-sizing: border-box;
    }
    
    .stage {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 600px;
        height: 300px;
        background: lightblue;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        position: relative;
    }
    
    .stage li {
        background: lightcoral;
        border-radius: 5px;
        box-shadow: 0 0 0 1px white inset;
        background-image: url("../img/text1.jpeg");
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.3s;
    }
    
    .anniu {
        margin-top: 50px;
        text-align: center;
    }
    
    .anniu button {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: #aaa;
        border: 1px solid transparent;
        outline: none;
        cursor: pointer;
    }
    
    .anniu button:hover {
        background-color: rgb(112, 102, 102);
    }
    
    .nandu {
        text-align: center;
    }